.col-xs {
  width: 25%;
  float: left;
}
a {
  text-decoration: none;
}
.type-1316 .wrapper {
  width: auto;
  background-color: #f6f7f3;
  font-family: Arial;
}
.type-1316 .wrapper .footer-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  margin: 0;
}
.type-1316 .wrapper .footer-content .footer-text {
  padding-right: 0;
  padding-left: 0;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title h3 {
  text-align: center;
  font-weight: 600;
  font-size: 3.5em;
  color: #1a3150;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title h4 {
  text-align: center;
  color: #96bd42;
  font-weight: 600;
  font-size: 0.857em;
  letter-spacing: 2px;
  margin-bottom: 67px;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col:hover {
  margin-top: -10px;
  box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.1);
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col {
  transition: all ease .5s;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-title {
  color: #ffffff;
  background-color: #1a3150;
  text-align: center;
  font-size: 1.214em;
  font-weight: 700;
  line-height: 3.235em;
  min-height: 3.235em;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-money {
  background-color: #ffffff;
  text-align: center;
  line-height: 7.857em;
  height: 7.857em;
  overflow: hidden;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-money .usd {
  font-weight: 900;
  font-size: 1.429em;
  line-height: 4.7em;
  vertical-align: top;
  color: #1a3150;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-money .number {
  font-weight: 900;
  font-size: 2.857em;
  line-height: inherit;
  color: #1a3150;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-money .text {
  color: #1a3150;
  font-weight: 700;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-money .text1 {
  content: '/';
  display: inline-block;
  font-weight: 700;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-description {
  background-color: #fff;
  padding-bottom: 40px;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-description p {
  text-align: center;
  font-size: 14px;
  line-height: 1.3em;
  height: 5.2857em;
  padding: 0 5px;
  color: #aab2bd;
  overflow: hidden;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button {
  background-color: #fff;
  margin-top: -10px;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .cube {
  width: auto;
  height: auto;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .default-state,
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .active-state {
  height: auto;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .cube {
  text-align: center;
  margin: 0 auto;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .default-state,
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .active-state {
  background: #1ca9eb;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  line-height: 55px;
  height: 55px;
  margin-left: 42px;
  margin-right: 42px;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .cube:hover .default-state {
  background: #1294d1;
}
.type-1316 .wrapper .footer-content .footer-text .footer-title .col .footer-col-button .active-state {
  background: #0f7eb1;
}
@media (max-width: 767px) and (min-width: 480px) {
  .type-1316 .sc_googlemap_content {
    position: static;
    width: auto;
  }
  .type-1316 .col-xs {
    width: 50% !important;
    float: left !important;
  }
  .type-1316 .col {
    margin-bottom: 20px;
  }
  .type-1316 .default-state,
  .type-1316 .active-state {
    margin-left: 100px;
    margin-right: 100px;
  }
  .type-1316 .footer-wrapper ul li a {
    font-size: 12px !important;
  }
  .type-1316 .description {
    font-size: 10px !important;
  }
  .type-1316 .widget-text p {
    font-size: 12px;
  }
  .type-1316 .post-content {
    font-size: 8px !important;
  }
}
@media (max-width: 479px) {
  .type-1316 .container {
    max-width: 280px;
  }
  .type-1316 .col {
    margin-bottom: 20px;
  }
  .type-1316 .col-xs {
    width: 100% !important;
    float: none !important;
  }
  .type-1316 .footer-wrapper ul li a {
    font-size: 12px !important;
  }
  .type-1316 .description {
    font-size: 13px !important;
  }
  .type-1316 .widget-text p {
    font-size: 12px;
  }
  .type-1316 .post-content {
    font-size: 8px !important;
  }
}
@media (max-width: 959px) and (min-width: 768px) {
  .type-1316 .sc_googlemap_content {
    position: static;
    width: auto;
  }
  .type-1316 .footer-wrapper ul li a {
    font-size: 14px !important;
  }
  .type-1316 .description {
    font-size: 13px !important;
    padding-top: 10px;
  }
  .type-1316 .widget-text p {
    font-size: 12px;
  }
  .type-1316 .post-content {
    font-size: 10px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
}
