.type-1343 .row {
  margin-left: 0;
  margin-right: 0;
}
.type-1343 .fp_box:hover h3 {
  color: #cb7152;
}
.type-1343 span {
  color: #cb7152;
  float: right;
}
.type-1343 .fp_box h3 {
  font-size: 16px;
  padding-bottom: 12px;
}
.type-1343 .menu_description {
  font-style: normal;
  font-size: 12px;
}
.type-1343 .fp_box .menu_description {
  color: #6b6b6b;
}
.type-1343 .fp_box {
  padding: 0px 30px;
}
.type-1343 .sep-text .single .centered {
  text-align: center;
}
.type-1343 .fp_box h3:before {
  display: block;
  line-height: 1em;
  font-size: 0.4em;
  letter-spacing: 4px;
  color: #6b6b6b;
  content: "...................................................................................................................................................................................................................................................";
  width: 100%;
  overflow: hidden;
  height: 10px;
  top: 35px;
  position: relative;
}
.type-1343 .detail {
  top: -10.5%;
  background: #fff;
  left: 25.7%;
  padding: 24px 0;
  border-radius: 20px;
}
.type-1343 .detail p {
  text-align: center;
  font: normal 16px/24px Varela Round;
  margin: 1em 0;
}
.type-1343 .detail h {
  font: 24px/32px 'Libre Baskerville';
  color: #cb7052;
  padding: 0px 30px;
}
.type-1343 .sep-text {
  position: relative;
  margin: 30px 0 40px 0;
  text-align: center;
}
.type-1343 .sep-text.centered .sep-text-before,
.type-1343 .sep-text.centered .sep-text-after {
  width: 50%;
  font-size: 10px;
}
.type-1343 .sep-text .sep-text-before {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: right;
}
.type-1343 .sep-text .sep-text-after {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.type-1343 .sep-text .sep-text-line {
  display: inline-block;
  width: 20%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  color: #EDEDED;
  vertical-align: baseline;
}
.type-1343 .sep-text .content {
  padding-right: .7em;
  padding-left: .7em;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.type-1343 .text-divider-double {
  font-size: 60px;
  letter-spacing: 6px;
}
.type-1343 .sep-text .text-divider-subtitle {
  color: #cb7152;
  font-family: 'Handlee';
  font-size: 1em;
  letter-spacing: 0.3em;
  padding-top: 10px;
}
.type-1343 .sep-text .content {
  margin: 0;
  line-height: 1;
}
.type-1343 .sep-text .text-divider-subtitle:before,
.type-1343 .sep-text .text-divider-subtitle:after {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.2em;
  padding: 0px 5px;
}
@media (max-width: 992px) {
  .type-1343 .detail {
    margin-left: 10px;
    margin-right: 10px;
  }
}
