.type-1356 .tab1 {
  text-align: center;
}
.type-1356 .tab1 span {
  margin: 0 10px;
  font-size: 21px;
  cursor: pointer;
  color: black;
}
.type-1356 .tab1 span:hover,
.type-1356 .tab1 span:focus {
  color: #cb7152;
  border-bottom: 2px solid #cb7152;
}
.type-1356 .tab1-content {
  text-align: center;
  margin: 20px 0;
}
.type-1356 .tab1-content h4 {
  font-size: 16px;
  color: #2c2c2c;
}
.type-1356 .tab1-content h1 {
  font-size: 30px;
  color: #000000;
}
.type-1356 .tab1-content span {
  font-size: 12px;
}
.type-1356 .tab1-content .time {
  width: 59%;
  height: 90px;
  margin: 0 auto;
  text-align: center;
}
.type-1356 .tab1-content .time .item {
  float: left;
}
.type-1356 .tab1-content .time .item p {
  margin: 10px 0;
  font-size: 11px;
  color: #6b6b6b;
}
.type-1356 .tab1-content .time .item input {
  margin: 0 5px;
  width: 100px;
  padding: 10px;
}
.type-1356 .tab1-content .time .item select {
  width: 100px;
  padding: 10px;
}
.type-1356 .tab1-content .form {
  text-align: center;
  clear: both;
}
.type-1356 .tab1-content .form input[type="text"] {
  margin: 5px auto;
  width: 80%;
  padding: 10px 0;
  display: block;
}
