.type-1334 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.type-1334 .ornament-top {
  background: #fff;
  height: 26px;
  -webkit-mask-image: url(../images/ornament-top.svg);
  width: 156px;
  margin-left: 44%;
  position: absolute;
  top: 8.1%;
}
.type-1334 .ornament-bottom {
  background: #fff;
  height: 26px;
  -webkit-mask-image: url(../images/ornament-bottom.svg);
  width: 156px;
  margin-left: 44%;
  position: absolute;
  bottom: -38.5%;
}
.type-1334 .introduction {
  background: url(../images/section-title-bg-5.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  position: relative;
  padding: 335px 0;
}
.type-1334 .fp_box:hover h3 {
  color: #cb7152;
}
.type-1334 span {
  color: #cb7152;
  float: right;
}
.type-1334 .fp_box h3 {
  font-size: 16px;
  padding-bottom: 12px;
}
.type-1334 .menu_description {
  font-style: normal;
  font-size: 12px;
}
.type-1334 .fp_box .menu_description {
  color: #6b6b6b;
}
.type-1334 .fp_box {
  padding: 0px 55px;
}
.type-1334 .sep-text .single .centered {
  text-align: center;
}
.type-1334 .fp_box h3:before {
  display: block;
  line-height: 1em;
  font-size: 0.4em;
  letter-spacing: 4px;
  color: #6b6b6b;
  content: "...................................................................................................................................................................................................................................................";
  width: 100%;
  overflow: hidden;
  height: 10px;
  top: 35px;
  position: relative;
}
.type-1334 .detail {
  position: absolute;
  top: -10.5%;
  background: #fff;
  width: 48.6%;
  left: 25.7%;
  padding: 24px 0;
  border-radius: 20px;
}
.type-1334 .sep-text {
  position: relative;
  margin: 30px 0 60px 0;
  text-align: center;
}
.type-1334 .sep-text.centered .sep-text-before,
.type-1334 .sep-text.centered .sep-text-after {
  width: 50%;
  font-size: 10px;
}
.type-1334 .sep-text .sep-text-before {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: right;
}
.type-1334 .sep-text .sep-text-after {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: left;
}
.type-1334 .sep-text .sep-text-line {
  color: #333;
  display: inline-block;
  width: 30%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  vertical-align: baseline;
}
.type-1334 .sep-text .content {
  margin: 0;
  line-height: 1;
  padding-right: .7em;
  padding-left: .7em;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.type-1334 .text-divider-double {
  font-size: 60px;
  letter-spacing: 6px;
}
.type-1334 .sep-text .text-divider-subtitle {
  color: #cb7152;
  font-family: 'Handlee';
  font-size: 1em;
  letter-spacing: 0.3em;
  padding-top: 10px;
}
.type-1334 .sep-text .text-divider-subtitle:before,
.type-1334 .sep-text .text-divider-subtitle:after {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.2em;
  padding: 0px 5px;
}
@media (max-width: 958px) {
  .type-1334 .detail {
    position: absolute;
    top: -10.5%;
    background: #fff;
    width: 96.6%;
    left: 1.7%;
    padding: 24px 0;
    border-radius: 20px;
  }
}
@media (max-width: 395px) {
  .type-1334 .fp_box h3 {
    font-size: 15px;
  }
}
