.type-1321 .content_wrap {
  margin: 0 auto;
}
.type-1321 .content_wrap .content {
  box-sizing: border-box;
}
.type-1321 .content_wrap .content .padding_top_20_imp {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section {
  padding: 2.857em 0 !important;
  background-image: url(../images/custom_bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 80px 10px !important;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay {
  overflow: visible;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content {
  padding: 0;
  box-sizing: border-box;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins {
  margin: 0 !important;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins .sc_column_item_inner {
  padding: 1.429em 1.5em;
  background-color: #1b3353;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins .sc_column_item_inner h3 {
  overflow: hidden;
  position: relative;
  padding-bottom: 2px;
  color: #ffffff;
  font-weight: 600;
  font-size: 3.929em;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins .sc_column_item_inner h6 {
  padding-bottom: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #96bd42;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 2px;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins .sc_column_item_inner .margin_top_tiny p {
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .columns_wrap.no_margins .sc_column_item_inner figure {
  margin: 0;
  display: block;
  border: 0;
  padding: 0;
  position: relative;
  margin-bottom: 40px !important;
  max-width: 100%;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .column-1_2 {
  width: 50%;
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .custom_shadow1 {
  box-shadow: -2px 2px 25px 0 rgba(0,0,0,0.25);
}
.type-1321 .content_wrap .content .padding_top_20_imp .general_info_section .sc_section_overlay .sc_section_content .text_align_center {
  text-align: center;
}
.type-1321 .columns_wrap > [class*="column-"] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
.type-1321 .columns_wrap.no_margins > [class*="column-"] {
  padding: 0 !important;
}
.type-1321 .columns_wrap > [class*="column-"] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
@media (max-width: 1439px) and (min-width: 1263px) {
  .type-1321 .content_wrap {
    width: 1000px;
  }
}
.type-1321 img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 639px) {
  .type-1321 .general_info_section .sc_section_content {
    margin-top: -20px;
    margin: 0 10%;
  }
  .type-1321 .general_info_section .column-1_2.even {
    width: 85% !important;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .type-1321 .general_info_section h3.sc_title {
    font-size: 3.5em !important;
  }
  .type-1321 h3 {
    font-size: 35px !important;
  }
}
