.type-1308 .currency button.btn-link.dropdown-toggle {
  background: none;
  border-image: none;
  border-style: none solid none none;
  border-width: medium 1px medium medium;
  margin: 0 20px 0 0;
  padding: 5px 20px 4px 0;
  text-decoration: none;
}
.type-1308 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.type-1308 img {
  max-width: 100%;
  vertical-align: middle;
}
.type-1308 .b_header_top .b_static_top {
  color: #000;
  position: relative;
}
.type-1308 .b_header_top .b_static_top .caption {
  height: 100%;
  left: 50%;
  margin: 0 auto;
  max-width: 1170px;
  padding: 20px 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}
.type-1308 .b_header_top .b_static_top .caption .b_static_buy {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.type-1308 .b_header_top .b_static_top .caption .b_static_buy a {
  background-color: #6293ce;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 4px 10px;
}
.type-1308 .b_header_top .b_static_top .b_static_x {
  font-size: 28px;
  opacity: 0.5;
  position: absolute;
  right: 5%;
  top: 50%;
  font-weight: 300;
  cursor: pointer;
  transform: translateY(-50%);
}
.type-1308 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.type-1308 b,
.type-1308 strong {
  font-weight: 700;
}
.type-1308 img {
  max-width: 100%;
  vertical-align: middle;
}
.type-1308 .b_header_middle {
  background-color: #fff;
  margin-bottom: 0px;
  margin-top: 0px;
}
.type-1308 .b_header_middle .top_right .footer-social ul li {
  display: inline-block;
  margin-left: 5px;
  padding: 5px 0 4px 11px;
}
.type-1308 .b_header_middle .top_right .footer-social ul li a {
  color: #848484;
}
.type-1308 .b_header_middle .top_right {
  text-align: right;
  padding-right: 0;
}
.type-1308 .pull-right {
  float: right !important;
}
.type-1308 .b_header_middle .top_right .footer-social ul li + li {
  border-left: 1px solid #f5f5f5;
}
.type-1308 .btn-link {
  font-weight: normal;
}
.type-1308 .language strong b,
.type-1308 .currency strong b {
  color: #848484;
  font-weight: 400;
}
.type-1308 .b_header_middle .top_left {
  padding-left: 0;
}
.type-1308 .language_currency {
  float: left;
}
.type-1308 .language,
.type-1308 .currency {
  float: left;
}
.type-1308 .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.type-1308 .language button.btn-link.dropdown-toggle,
.type-1308 .currency button.btn-link.dropdown-toggle {
  background: none;
  border-image: none;
  border-style: none solid none none;
  border-width: medium 1px medium medium;
  margin: 0 20px 0 0;
  padding: 5px 20px 4px 0;
  text-decoration: none;
}
.type-1308 .language span,
.type-1308 .currency span {
  display: none;
}
.type-1308 .currency strong {
  font-size: 14px;
  font-weight: 400;
}
.type-1308 .currency i {
  color: #848484;
  font-size: 14px;
  margin-left: 0;
  margin-top: 0;
  vertical-align: 0;
}
.type-1308 .language strong b,
.type-1308 .currency strong b {
  color: #848484;
}
.type-1308 .fa-angle-down:before {
  content: "\f107";
}
.type-1308 .language .dropdown-menu,
.type-1308 .currency .dropdown-menu {
  border: 0 none;
  font-weight: 400;
  height: auto;
  text-align: left;
  text-transform: none;
}
.type-1308 .btn-group > .dropdown-menu {
  font-size: 12px;
}
.type-1308 .open > .dropdown-menu {
  display: block;
}
.type-1308 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.type-1308 .language .dropdown-menu li,
.type-1308 .currency .dropdown-menu li {
  text-align: left;
}
.type-1308 .language .dropdown-menu li button,
.type-1308 .currency .dropdown-menu li button {
  font-size: 14px;
  margin-bottom: 0;
  width: 100%;
}
.type-1308 .language .dropdown-menu li a,
.type-1308 .currency .dropdown-menu li button {
  padding: 8px 15px;
  display: block;
  color: #000;
}
.type-1308 .currency .currency-select {
  background: none;
  border: medium none;
  font-weight: 300;
  height: auto;
  padding: 0px 10px 10px 20px;
  text-align: left;
  text-transform: none;
}
.type-1308 .currency .dropdown-menu li button b {
  font-weight: 400;
}
.type-1308 .currency .dropdown-menu li + li button {
  border-top: 1px solid #f1f1f1;
}
.type-1308 .currency .dropdown-menu li + li button {
  border-top: 1px solid #f1f1f1;
}
.type-1308 .currency .dropdown-menu li button:hover {
  color: #00aeef;
}
.type-1308 .btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.type-1308 .language .dropdown-menu li a span {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: top;
}
.type-1308 .b_header_middle .contact a {
  color: #848484;
}
.type-1308 .b_header_middle .contact {
  color: #848484;
  float: left;
  font-size: 14px;
  padding: 5px 0 4px;
}
.type-1308 .fa {
  font-size: 14px;
}
.type-1308 .currency:hover strong b {
  color: #000;
}
.type-1308 .currency:hover strong i {
  color: #000;
}
.type-1308 .currency:hover i {
  color: #000;
}
.type-1308 .language:hover strong b {
  color: #000;
}
.type-1308 .b_header_middle .top_right .footer-social ul li a:hover {
  color: #000;
}
.type-1308 select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.type-1308 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  transform: translate(0,0);
  font-size: 14px;
}
.type-1308 a b {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
@media only screen and (max-width: 588px) and (min-width: 500px) {
  .type-1308 .top_right:before {
    content: '';
    border-top: 1px solid #ededed;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .type-1308 .language button.btn-link.dropdown-toggle,
  .type-1308 .currency button.btn-link.dropdown-toggle {
    margin: 0 -4px 0 0;
  }
  .type-1308 .b_header_middle .top_right {
    position: relative;
    bottom: 30px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 589px) {
  .type-1308 .b_header_middle .top_right {
    position: absolute;
    right: 2%;
  }
  .type-1308 .top_right {
    border-top: 1px #848484 sloid;
  }
  .type-1308 .b_header_middle {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .type-1308 .b_header_top img {
    min-height: 40px;
  }
  .type-1308 .b_header_top .caption {
    display: none;
  }
}
@media only screen and (max-width: 499px) {
  .type-1308 .language button.btn-link.dropdown-toggle,
  .type-1308 .currency button.btn-link.dropdown-toggle {
    margin: 0 -8px 0 0;
  }
}
