@font-face {
  font-family: myfont;
  src: url("../fonts/Philosopher-Regular.ttf");
}
.container {
  width: 97% !important;
}
a {
  color: black !important;
  text-decoration: none;
}
.type-1345 header #cssmenu .logo {
  width: 30%;
}
.type-1345 header #cssmenu .logo a {
  font-family: myfont;
  text-decoration: none;
}
.type-1345 header #cssmenu .logo p {
  color: green;
}
.type-1345 header #cssmenu .right {
  float: right;
}
@media (max-width: 1017px) {
  .type-1345 header #cssmenu .right {
    float: right;
    position: relative;
    right: 34px;
    top: -11px;
  }
  .type-1345 header #cssmenu .right .fa-shopping-bag {
    left: -19px !important;
  }
}
.type-1345 header #cssmenu .button {
  color: #cb7152;
}
.type-1345 header #cssmenu ul {
  z-index: 11111;
}
.type-1345 header #cssmenu ul #li {
  float: left;
  margin-right: 4%;
}
.type-1345 header #cssmenu ul #li a {
  text-decoration: none;
}
.type-1345 header #cssmenu ul #li .active {
  color: #cb7152 !important;
  font-size: 17px;
}
.type-1345 header #cssmenu ul #li a:hover {
  color: #cb7152;
}
.type-1345 header #cssmenu ul #li ul {
  background: none !important;
}
.type-1345 header #cssmenu ul #li ul li {
  background: #eee;
}
.type-1345 header #cssmenu ul #li ul li a {
  color: black;
}
.type-1345 header #cssmenu ul #li ul li a:hover {
  color: #cb7152;
}
@media (max-width: 1157px) {
  .type-1345 header #cssmenu #li {
    margin-right: 3% !important;
  }
}
.type-1345 header #cssmenu .icon {
  margin: 13px 0px;
}
.type-1345 header #cssmenu .icon i {
  font-size: 25px;
  font-weight: normal;
  margin: 0 10px;
}
