.type-1331 {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.type-1331 h {
  font: normal 40px/50px Libre Baskerville;
}
.type-1331 p {
  font: normal 16px/24px Varela Round;
  margin-top: 25px;
  margin-bottom: 25px;
}
.type-1331 .box {
  border: 1px solid #cb7152;
  border-radius: 15px;
  font-size: 15px;
  width: 105px;
  height: 35px;
  transition: 0.6s;
  overflow: hidden;
  margin: 0 auto;
}
.type-1331 .box:hover {
  background: #cb7152;
}
.type-1331 .box:hover .text {
  color: #fff;
  transform: translateY(-28px);
}
.type-1331 .text {
  padding: 4px;
  transition: 0.6s;
}
