.type-1335 html.touchevents .team-member .team-member-info h6:after,
.type-1335 .team-member:hover .team-member-info h6:after {
  width: 50px;
}
.type-1335 .fa {
  margin: 0px 5px 0px 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px !important;
  line-height: 1;
  display: inline-block;
  padding: 10px !important;
  border-radius: 100%;
  border: solid 1px rgba(255,255,255,0.5);
  background: transparent;
}
.type-1335 .fa:hover {
  background: #fff;
  color: #cb7152;
}
.type-1335 .col-md-6 {
  font-size: 16px;
}
.type-1335 .col-md-6 li {
  margin: 10px 0;
}
.type-1335 span.title-text {
  font-size: 20px;
}
.type-1335 p {
  font-size: 16px;
}
.type-1335 .logo {
  text-align: center;
  margin-bottom: 40px;
}
.type-1335 .news {
  margin-top: 30px;
}
.type-1335 .news p {
  width: 64.5%;
  text-align: center;
  margin-left: 18%;
}
.type-1335 .nav-tabs>li.active>a,
.type-1335 .nav-tabs>li.active>a:hover,
.type-1335 .nav-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: none;
  border-bottom-color: transparent;
  color: #cb7152;
  border-bottom: 2px solid #cb7152;
}
.type-1335 .nav-tabs>li>a {
  border: none;
  border-radius: none;
}
.type-1335 .row {
  margin-left: -25px;
  margin-right: -25px;
}
.type-1335 .content {
  margin-bottom: 40px;
}
.type-1335 .content h3 {
  text-align: center;
}
.type-1335 .nav-tabs {
  border-bottom: none;
  margin-left: 35%;
  margin-bottom: 30px;
}
.type-1335 .sep-text .sep-text-line {
  display: inline-block;
  width: 30%;
  border-top: 0 solid;
  border-bottom: 1px solid;
  color: #EDEDED;
  vertical-align: baseline;
}
.type-1335 .sep-text-before .sep-text-line {
  top: 37%;
  width: 13%;
  left: 32%;
  position: absolute;
}
.type-1335 .sep-text-after .sep-text-line {
  position: absolute;
  top: 37%;
  width: 13%;
  right: 31.5%;
}
.type-1335 html,
.type-1335 body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}
.type-1335 body {
  overflow: hidden;
  hyphens: auto;
}
.type-1335 a:hover,
.type-1335 a:active {
  outline: none;
}
.type-1335 .row {
  margin-left: -25px;
  margin-right: -25px;
}
.type-1335 .col-md-4 {
  text-align: center;
}
.type-1335 .col-md-4 h4 {
  color: #cb7152 !important;
}
.type-1335 h3,
.type-1335 h3 a,
.type-1335 .color-h3,
.type-1335 .color-h3 a {
  color: #000;
  font: normal 40px/50px Libre Baskerville;
}
.type-1335 h4,
.type-1335 h4 a,
.type-1335 .color-h4,
.type-1335 .color-h4 a {
  color: #000;
  font: normal 24px/32px Libre Baskerville;
}
.type-1335 h6,
.type-1335 h6 a,
.type-1335 .color-h6,
.type-1335 .color-h6 a {
  color: #000;
  font: normal 11px/12px Varela Round;
}
.type-1335 h3 em {
  font: normal 40px/50px 'Libre Baskerville';
  color: #000;
}
.type-1335 h4 em {
  font: normal 24px/32px 'Libre Baskerville';
  color: #000;
}
.type-1335 h6 em {
  font: normal 11px/12px 'Libre Baskerville';
  color: #000;
}
.type-1335 a {
  text-decoration: none;
  color: #000;
  transition: color .3s;
}
.type-1335 a .icon.shortcode.use-hover {
  transition: all .3s ease-out;
  padding: 0.3em;
  border-radius: 20em;
  line-height: 1em;
}
.type-1335 a:visited {
  color: #000;
}
.type-1335 a:active {
  color: #cb7152;
}
.type-1335 a:hover {
  text-decoration: none;
  color: #cb7152;
}
.type-1335 .team-member {
  padding: 0 !important;
  margin: 0px 0px 20px 0px;
  border-radius: 6px;
  overflow: hidden;
  border: solid 1px #EDEDED;
  transition: all .3s ease;
  z-index: 1;
  position: relative;
}
.type-1335 .team-member .thumbnail {
  overflow: hidden;
  background: #000;
  position: relative;
}
.type-1335 .team-member img {
  transition: opacity 0.40s, transform 0.60s;
  transform: scale(1.10);
  border-radius: 16px;
  width: 100%;
}
.type-1335 .team-member .sep-text {
  margin: 0 0 20px 0;
}
.type-1335 .team-member .team-member-info {
  background: #fff;
  margin-top: 0px;
  padding: 15px 20px 20px 20px;
}
.type-1335 .team-member .team-member-info a {
  font-size: 14px;
}
.type-1335 .team-member .team-member-info h4 {
  margin: 0px;
  padding: 5px 0px 12px 0px;
}
.type-1335 .team-member .team-member-info h4 a {
  font-size: 24px;
  display: block;
}
.type-1335 .team-member .team-member-info h6 {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 11px;
  opacity: 0.7;
}
.type-1335 .team-member .team-member-info h6:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  margin: 15px 0px 5px 0px;
  transition: all .6s;
  opacity: 1;
  background: #cb7152;
}
.type-1335 .team-member .team-member-info a[href^="mailto:"] {
  word-wrap: break-word;
}
.type-1335 .team-member .team-member-info .team-member-bio {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.6;
  transition: opacity .3s ease;
}
.type-1335 .team-member:hover img {
  opacity: 0.6;
  transform: scale(1.2);
}
.type-1335 .team-member,
.type-1335 .team-member:hover {
  box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
}
.type-1335 .team-member .team-member-bio,
.type-1335 .team-member:hover .team-member-bio {
  opacity: 1;
}
.type-1335 .team-member .share-icons,
.type-1335 .team-member:hover .share-icons {
  opacity: 1;
  bottom: 35%;
  white-space: normal;
}
.type-1335 .team-member .share-icons .icon,
.type-1335 .team-member:hover .share-icons .icon {
  margin: 10px 5px 0px 5px;
}
.type-1335 .team-member .share-icons {
  position: absolute;
  left: 0;
  top: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  text-align: center;
  opacity: 0;
  background: none;
  min-height: 60px;
  bottom: 25%;
  transition: opacity .3s, bottom .3s;
  display: block;
  margin: 10px 5px 0px 5px;
}
.type-1335 .team-member .share-icons a {
  display: inline-block;
}
.type-1335 .team-member .share-icons a:hover .icon.shortcode.use-hover {
  background: #fff;
  color: #cb7152 !important;
}
.type-1335 .team-member .share-icons .icon {
  margin: 0px 5px 0px 5px;
  width: 16px;
  height: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px !important;
  line-height: 1;
  display: inline-block;
  padding: 10px !important;
  border-radius: 100%;
  border: solid 1px rgba(255,255,255,0.5);
  background: transparent;
}
.type-1335 .team-member .share-icons .icon:hover {
  transition: color .5s ease 0s;
  color: #cb7152;
}
@media (max-width: 767px) {
  .type-1335 .logo img {
    width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 1365px) {
  .type-1335 .sep-text .sep-text-line {
    display: none;
  }
}
