.type-1333 .ornament-bottom {
  background: #fff;
  height: 26px;
  -webkit-mask-image: url(../images/ornament-bottom.svg);
  width: 156px;
  position: absolute;
  left: 50%;
  margin-left: -78px;
}
.type-1333 .vamtam-grid.first.has-background {
  padding-top: 130px;
  padding-bottom: 130px;
}
.type-1333 .row {
  margin: 0;
  padding: 0;
}
.type-1333 .vamtam-add-ornaments-all {
  border-radius: 20px;
  z-index: 10;
  position: relative;
}
.type-1333 .vamtam-add-ornaments-all:before {
  display: block;
  background: #fff;
  height: 26px;
  content: " ";
  -webkit-mask-image: url(../images/ornament-top.svg);
  width: 156px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -78px;
  z-index: 10;
}
.type-1333 .vamtam-add-ornaments-all:after {
  display: block;
  background: #fff;
  height: 26px;
  content: " ";
  -webkit-mask-image: url(../images/ornament-bottom.svg);
  width: 156px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -78px;
  z-index: 10;
}
.type-1333 .vamtam-grid>.vamtam-parallax-bg-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.type-1333 .vamtam-parallax-bg-wrapper>.vamtam-parallax-bg-img {
  background-attachment: scroll !important;
}
.type-1333 .vamtam-parallax-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.type-1333 .vamtam-parallax-bg-img {
  background-position: 50% 0%;
  background-image: url(../images/slider-faq.jpg);
  background-color: #292929;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transform: matrix(1,0,0,1,0,-83.4875);
  top: -300px;
  bottom: -300px;
  will-change: transform;
  opacity: 1;
  max-width: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.type-1333 .vamtam-grid.vamtam-add-ornaments-all {
  background-color: #ffffff;
  padding: 30px 55px;
  min-height: 300px;
  width: 50%;
  float: left;
  margin-left: 25%;
}
.type-1333 .vamtam-grid .first .unextended {
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  min-height: 300px;
}
