.type-1320 #first-slider .slide1 h3,
.type-1320 #first-slider .slide2 h3,
.type-1320 #first-slider .slide3 h3 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
}
.type-1320 #first-slider .slide1 {
  background-image: url(../images/slide1_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.type-1320 #first-slider .slide1 h4 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
.type-1320 #first-slider .slide1 .text-left {
  padding-right: 40px;
}
.type-1320 #first-slider .slide3 {
  background-image: url(../images/slide3_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.type-1320 #first-slider .slide3 h4 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
.type-1320 #first-slider .slide3 .text-left {
  padding-right: 40px;
}
.type-1320 #first-slider .slide2 {
  background-image: url(../images/slide2_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.type-1320 #first-slider .slide2 h4 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.type-1320 #first-slider .carousel-indicators {
  bottom: 0;
}
.type-1320 #first-slider .carousel-indicators li {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0.4);
  border: none;
}
.type-1320 #first-slider .carousel-indicators .active {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: none;
}
.type-1320 #first-slider .carousel .item {
  min-height: 425px;
  height: 100%;
  width: 100%;
}
.type-1320 #first-slider h3 {
  animation-delay: 1s;
}
.type-1320 #first-slider h4 {
  animation-delay: 2s;
}
.type-1320 #first-slider h2 {
  animation-delay: 3s;
}
.type-1320 #first-slider h1 {
  height: 70px;
  font-size: 145px;
  font-weight: bold;
  color: rgba(245,245,245,0.56);
}
.type-1320 #first-slider h5 {
  background: #96bd42;
  padding: 16px 15px;
  line-height: 10px;
  border: 0px none #000000;
  width: 100px;
  height: 45px;
  font-size: 12px;
  color: #fff !important;
}
.type-1320 #first-slider h5:hover {
  background: #82B440;
}
.type-1320 #first-slider h6:hover {
  background: #82B440;
}
.type-1320 #first-slider h6 {
  color: #fff !important;
  background: #96bd42;
  padding: 16px 15px;
  line-height: 10px;
  border: 0px solid black;
  width: 100px;
  height: 45px;
  font-size: 12px;
  text-align: center !important;
}
.type-1320 .carousel-inner .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.type-1320 .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}
.type-1320 .carousel-fade .carousel-inner .active.left,
.type-1320 .carousel-fade .carousel-inner .active.right {
  opacity: 0;
  left: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.type-1320 .carousel-fade .carousel-inner .active,
.type-1320 .carousel-fade .carousel-inner .next.left,
.type-1320 .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.type-1320 .carousel-fade .carousel-inner .next,
.type-1320 .carousel-fade .carousel-inner .prev {
  left: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
@media screen and (max-width: 480px) {
  .type-1320 #first-slider h1 {
    height: 70px;
    font-size: 55px;
  }
  .type-1320 #first-slider .slide1 h4 {
    display: none;
  }
  .type-1320 #first-slider .slide2 h4 {
    display: none;
  }
  .type-1320 #first-slider .slide3 h4 {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .type-1320 #first-slider h1 {
    height: 70px;
    font-size: 70px;
  }
}
